@import url('https://fonts.googleapis.com/css?family=Jua');

body{
    margin: 0px;
}
.mdc-toolbar__row {
    min-height: 64px;
}
.mdc-toolbar__custom_spacing{
    margin-left: 2px;
    margin-right: 2px;
}
#toolbarTitle{
    font-family: Jua;
}
