@import url('https://fonts.googleapis.com/css?family=Jua');

body{
    margin: 0px;
}
.mdc-toolbar__title{
    font-family: Jua
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  .mdc-toolbar__title{
      font-size: 2.25rem;
      margin-left: 0px !important;
      padding-left: 8px;
  }
  .material-icons{
      font-size: 36px;
     
  }
  .mdc-button{
      min-width: 38px!important;
      height: 38px;
  }
  .mdc-button .mdc-button__icon{
      width: 36px;
      height: 36px;
  }
  .mdc-button--unelevated .mdc-button__icon{
      margin: 2px;
  }
  .mdc-button--raised, .mdc-button--unelevated {
      margin: 8px;
      padding: 0px;
  }
    .mdc-toolbar__row{
      min-height: 64px;
  }
  .mdc-toolbar__section{
      padding:  0px;
  }
  .mdc-toolbar__section--align-end{
      padding-right: 16px;
  }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .mdc-toolbar__title{
      font-size: 3.75rem;
      margin-left: 8px ;
  }
  .mdc-button .mdc-button__icon{
      font-size: 72px;
  }
  .mdc-button{
      min-width: 80px;
      height: 80px;
  }
  .mdc-button .mdc-button__icon{
      width: 72px;
      height: 72px;
  }
  .mdc-button--unelevated .mdc-button__icon{
      margin: 2px;
  }
  .mdc-button--raised, .mdc-button--unelevated {
      margin: 0px;
      padding: 2px;
  }
    .mdc-toolbar__row{
      min-height: 140px;
  }
  .mdc-toolbar__section{
      padding:  0px;
  }
  .mdc-toolbar__section--align-end{
      padding-right: 16px;
  }

}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .mdc-toolbar__title{
      font-size: 2.25rem;
      margin-left: 0px !important;
      padding-left: 8px;
  }
  .mdc-button .mdc-button__icon{
      font-size: 36px;
  }
  .mdc-button{
      min-width: 38px!important;
      height: 38px;
  }
  .mdc-button .mdc-button__icon{
      width: 36px;
      height: 36px;
  }
  .mdc-button--unelevated .mdc-button__icon{
      margin: 2px;
  }
  .mdc-button--raised, .mdc-button--unelevated {
      margin: 8px;
      padding: 0px;
  }
    .mdc-toolbar__row{
      min-height: 64px;
  }
  .mdc-toolbar__section{
      padding:  0px;
  }
  .mdc-toolbar__section--align-end{
      padding-right: 16px;
  }

}